* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Istok Web", sans-serif;
    color: gray;
    justify-content: center;
}

.item-header{
    padding-top: 10px;
    margin-left: 10px;
}

.user-name {
    color: black;
    margin-top: 10px;
}

.user-info {
    margin-left: 10px;
}

.user-status {
    margin-top: 30px;
    color: gray;
    padding-top: 15px;
}

.section-heading-h2 {
    margin-bottom: 1.8rem;
    font-size: 2rem;
    font-weight: 900;
    color: black;
    padding-left: 400px;
    margin-top: 30px;
}

.item {
    margin-top: 75px;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 20px;
    padding-bottom: 25px;
}

.item-content {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}