body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: auto;

}

#wrapper {
    max-width: 1120px;
    width: 70%;
    margin: auto;
}

h1 {
    font-size: 60px;
    font-weight: 800;
}

h3 {
    font-size: 30px;
    font-weight: 800;
}

h4 {
    font-size: 21px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

a {

    color: rgb(119, 172, 21)
}

header {
    width: 100%;
    height: 65px;
    background-color: rgb(97, 189, 12);
}

footer {
    width: 100%;
    background-color: #118999;
    height: 100px;
}
